/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos principais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('images/background.jpg'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Cabeçalho */
header {
    background-color: rgba(51, 51, 51, 0.7); /* Fundo translúcido */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Seções */
h1, h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
}

main {
    padding: 20px;
}

/* Seção de Modelos */
.modelos-lista {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.modelo-item {
    text-align: center;
    max-width: 300px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Fundo translúcido para melhorar contraste */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modelo-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 200px; /* Limitar a altura da imagem */
    object-fit: cover;
}

.dicas ul {
    margin-top: 20px;
    list-style-type: square;
    padding-left: 20px;
}

/* Rodapé */
footer {
    background-color: rgba(51, 51, 51, 0.7); /* Fundo translúcido */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
